<h1><label>Login</label></h1>
<br></br>
<form action="/login" method="post">
  <p>Your email:</p><input type="text" name="email"><br>
  <p>Your password:</p><input type="password" name="password"><br></br>
  <input type="submit" value="Login">
</form>
