<h1><%= "$ #{@sum}" %></h1>
<% @coins.each { |coin| %>
<ol><%= "$ #{coin.to_dollar.round(3)} #{coin.name}"%>
    <br></br>
    <form action="/coins/<%= coin.slug %>/edit">
      <input type="submit" value="I've bought or sold some coins"/>
    </form>
    <form action="/coins/<%= coin.slug %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="I've sold them all!"/>
    </form>
    <br></br>
</ol>
<% } %>
