<h1><%= "$ #{@sum}" %></h1>
<% @coins.each { |coin| %>
<li><%= "$ #{coin.quantity * Scraper.new.get_coin_value(coin.slug).to_f} #{coin.name}"%>
    <form action="/coins/<%= coin.slug %>/edit">
      <input type="submit" value="Edit" />
    </form>
</li>
<% } %>
