<label>Edit the quantity of coins that you own:</label>
<br></br>
<form action="/coins/<%= @coin.slug %>" method="post">
  <input type="float" name="quantity" value="<%= @coin.quantity %>">
  <input type="submit" value="Edit">
</form>
